.elon {
    opacity: 0.7;
}

.elon:hover {
    opacity: 0.8;
}

.elon:active {
    opacity: 1;
}

/*.boost {*/
/*    height: 100px;*/
/*    width: 150px;*/
/*}*/

/*.boost-wrapper {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex: 1;*/
/*    flex-wrap: wrap*/
/*}*/

.header-container {
    max-width: 1640px;
    margin: auto;
    height: 130px;
    align-items: center;
    display: flex;
}

.delta-header {
    display: flex;
    float: right;
    align-items: center;
    margin-left: auto;
}

.nickname-header {
    padding-left: 35px;
    padding-right: 35px;
}


.wrapper {
    margin: 0 300px 0 300px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-gap: 1rem;
}

/*.wrapper * {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    !*padding: 1rem;*!*/
/*    background: #e2deed;*/
/*    border-radius: 5px;*/
/*    font-weight: bold;*/
/*}*/
header {
    grid-column: 1 / 3;
}

main {
    grid-column: 2 / 3;
}

aside {
    grid-row: 2 / 4;
    flex-flow: column nowrap;
}

footer {
    grid-column: 2 / 3;
}

aside,
main {
    min-height: 300px;
}

body {
    background-image: url('https://i.pinimg.com/originals/b3/b5/59/b3b5591c1ae4ffff437fec0352ca712d.jpg');
    background-size: cover;
    color: white;
    line-height: 1.5;
    font-family: 'Arial';
    padding: 4rem;
}
a{
    color:white;
}
* {
    box-sizing: border-box;
}


.boost-holder {
    border: solid;
    border-radius: 24px;
    border-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex: auto;
    box-sizing: border-box;
    margin-bottom: 5px;
    cursor: pointer;
}

.boost-holder:hover{
    opacity: 0.8;
}


.boost-holder * {
    box-sizing: border-box;
}


.item-1 {
    width: 150px;
    height: 130px;
    /*border: 1px solid black;*/
}


.item-2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}


.box-1 {
    /*border: 1px solid red;*/
    /*height: 50%;*/
}


.box-2 {
    /*border: 1px solid blue;*/
    /*height: 50%;*/
    /*margin-top: 20px;*/
}
