{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
</head>
<body onload="getUser({{ user.id }})">
<div class="wrapper">
    <header>
        <div class="header-container">
            <a href="https://twitter.com/elonmusk">
                <h1>DOGE TO THE MOON</h1>
            </a>
            <div class="delta-header">
                <h2 class="nickname-header" id="user">%user%</h2>
                <a href="/logout" style="height: 28px;">log out</a>
            </div>

        </div>
    </header>
    <aside>
        <div class="boost-wrapper" id="boost-wrapper">
            <div class="boost-holder" id="boost-holder">
                <div class="item-1">
                    <input type="image" style="height: 145px; width: 150px; border-radius: 20px"
                           src="https://pbs.twimg.com/profile_images/1384292719284027397/MOw0AJrZ_400x400.png"
                           onclick="buyBoost(0)"/>
                </div>

                <div class="item-2">
                    <div class="box-1">
                        <div>Boost Power:
                            <div id="boostPower">0</div>
                        </div>
                        <div>Boost Price
                            <div id="boostPrice">10</div>
                        </div>

                    </div>
                    <div class="box-2">
                        <div>Уровень буста
                            <div id="boostLevel" class="">0</div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </aside>
    <main>
        <div>
            <div id="user_data">
                <h3> Your click power is
                    <div id="clickPower">%clickPower%</div>
                </h3>
                <h3>You have
                    <div id="data">%coins%</div>
                    coins
                </h3>
            </div>

            <input type="image" style="width: 500px" class="elon" src="{% static 'images/dogeElon.png' %}"
                   onclick="callClick()"/>

        </div>
    </main>
</div>


</body>
</html>